:root{
  --primary-color: #E1E1E1;
  --navbar-color: black;
  --primary-text-color: #000000;
  --secondary-text-color: #2694A3;
  --navbar-text-color: lightgrey;
  --body-font-family: Inconsolata;
}

#root {
  height: 100%;
}


.App {
height: 100%;
width: 100%;
}
body {
  background-color: var(--primary-color);
  margin: 0px;
  font-family: Inconsolata, Geneva, Tahoma, sans-serif;

}

html, body {
  min-width: 600px;
  height: 100%;
}

.brand {
  font-weight: 600;
}

.mLink{
  color: white;
  text-decoration: none;
  
}

.mLink:hover{
  color: white;
  border-radius: 40px;
}