:root{
  --primary-color: #E1E1E1;
  --navbar-color: black;
  --primary-text-color: #000000;
  --secondary-text-color: #2694A3;
  --navbar-text-color: lightgrey;
  --body-font-family: Inconsolata;
}



.App {

}
body {
  background-color: var(--primary-color);
  margin: 0px;
  font-family: Inconsolata, Geneva, Tahoma, sans-serif;
}

html, body {
  height: 100%;
}

.navbar {
  background-color: var(--navbar-color);
  color: var(--navbar-text-color);
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#website-author{
  font-weight: bold;
  width: fit-content;
  height: fit-content;
  align-items: flex-start;
  margin-top: 30px;
  margin-left: 20px;
  
}

 .navbar-labels-list {

  width: fit-content;
  height: fit-content;
  float: right;
  align-items: flex-end;
  margin-top: 30px;
  margin-right: 15px;
 
}
.navbar-labels-list li {
  display: inline;
  font-weight: bold;  
  margin-right: 5px;
  margin-left: 10px;
} 